<!--<configuration>-->
    <!--<system.webServer>-->
        <!--<httpProtocol>-->
            <!--<customHeaders>-->
                <!--<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>-->
                <!--<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>-->
                <!--<add name="Access-Control-Allow-Origin" value="*" />-->
            <!--</customHeaders>-->
        <!--</httpProtocol>-->
        <!--&lt;!&ndash;<modules>&ndash;&gt;-->
            <!--&lt;!&ndash;<add name="MyHttpModule" type="WebServiceDemo.MyHttpModule"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</modules>&ndash;&gt;-->
    <!--</system.webServer>-->
    <!--<system.web>-->
        <!--&lt;!&ndash;提供Web服务访问方式&ndash;&gt;-->
        <!--<webServices>-->
            <!--<protocols>-->
                <!--<add name="HttpSoap"/>-->
                <!--<add name="HttpPost"/>-->
                <!--<add name="HttpGet"/>-->
                <!--<add name="Documentation"/>-->
            <!--</protocols>-->
        <!--</webServices>-->
    <!--</system.web>-->
<!--</configuration>-->