<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>原密码：</p>
    <input type="text">
    <p>新密码：</p>
    <input type="text">
    <p>重新输入新密码：</p>
    <input type="text"><br>
    <a href="login.html" style="border-radius: 5px solid;width: 30px; ">确定</a>
</body>
</html>